#root>div.recorded_element_container {
    margin: 10px auto 0 auto;
}

#root>div.recorded_element_container h2 {
    text-align: left;
}

.download_recorded_video_container {
    margin-top: 10px;
    display: flex;
}

.download_recorded_video_container {
    margin-top: 10px;
    display: flex;
}

.download_recorded_video_button {
    text-decoration: none;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border-radius: 10px;
    border: 2px solid steelblue;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

@media (hover: hover) {
    .download_recorded_video_button:hover,
    .download_recorded_video_button:focus {
        color: steelblue;
        background-color: white;
    }
}